*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.up{
    position: fixed;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 10px;
    bottom: 10px;
    right: 10px;
    color: var(--secondary-color);
    border:1px solid #3f464e;
    border-radius: 50%;
    transition: .3s;
    z-index: 555;
    animation: bound 1.5s infinite ease-in-out ;
}
@keyframes bound {
    
    0%{
        bottom: 10px;
    }50%{
        bottom: 25px;
    }100%{
        bottom: 10px;
    }
}
.up:hover{
    background-color: #ffc800;
}
:root{
    --text-color:#6c757d;
    --main-color:#ffd234;
    --secondary-color: #3f464e;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px 30px;
    color: var(--text-color);
}
.dropdown{
    background-color: #fff;
    color: #000;
    padding: 5px;
    font-size: 14px;
    display: flex;
    position: relative;
    transition: .3s;
    margin-right: 10px;
}
.droplist{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    /* padding: 0px 10px; */
    width: 100%;
    left: 0px;
    top: 100%;
    border: 1px solid #ddd;
    z-index: 11;
}
.droplist li{
    width: 100%;
    /* padding: 10px; */
}
.droplist li:hover{
background-color: #eee;
}

.dropdown:hover{
    cursor: pointer;
    background-color: #ddd;
}
.dropdown:hover .droplist{
    display: block;
}

.left ul{
    list-style: none;
    display:flex;
}
.left ul li{
    margin-left: 20px;
    transition: .3s;
}
.left li:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.center{
    display: flex;
}

.top-nav .right, .bars{
    display: none;
}


.col{
    display: flex;
    margin-left: 10px;
    color: #3f464e;
}

.col div{
    margin-left: 5px;
    border: 1px solid #6c757d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.col p{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(55%, -10%);
}
.col i{
    color: var(--secondary-color);
}
/* ////////////////////////////////// */
.center-nav{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-right: 50px;
}

.search{
    width: 50%;
    display: block;
    margin: auto;
}
.search .contain{
    border: 1px solid #ddd;
    display: flex;
    width: 60%;
    margin: auto;
}
.search input, input:focus{
    border: none;
    outline: none;
    margin: 5px;
    width: 100%;
    padding: 5px 10px;
    margin: auto;
}

.search span{
    border-left: 1px solid #ddd;
    display: flex;
    padding: 10px;
    align-items: center;
    color: var(--main-color);
    width: fit-content;
}

.cxservice{
    margin-left: 50px;
}
.cxservice p:last-child{
    color: #3f464e;
    font-weight: bold;
}
.flex{
    display: flex;
}

/* ///////////////////////////////// */

.bottom-nav{
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    height: 65px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav .left .part1{
    background-color: var(--main-color);
    font-weight: bold;
    width: 300px;
    margin: 0px 50px;
    padding: 20px 30px;
    height: 100%;
    color: var(--secondary-color);
    display: flex;
    justify-content:space-between ;
    transition: .3s;
    position: relative;
}
.bottom-nav .left .part1:hover{
    background-color: #ffc800;
    cursor: pointer;
}
.bottom-nav .left .part1:hover .dropdown2{
visibility: visible;
}

.dropdown2{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -215px;
    transition: .3s;
    visibility: hidden;
    z-index: 11;
}
.dropdown2 ul{
    display: block;
    background-color: #fff;
    color: var(--text-color);
    font-weight: lighter;
    width: 100%;
}
.bottom-nav .left .part2{
display: none;
}
.bottom-nav .center{
    padding: 20px;
}

.bottom-nav .center ul li{
    display: inline-block;
    margin-left: 10px;
}
.bottom-nav .center ul li:hover{
    color: var(--main-color);
    cursor: pointer;
}
.bottom-nav .dropdown{
    background-color: inherit;
    font-size: inherit;
    color: inherit;
}

.bottom-nav .droplist{
    background-color: var(--main-color);
    color: #000 !important;
    margin: 0px !important;
    width: fit-content;
    top: 100%;
    text-align: left;
    transition: .5s;
    display: block;
    visibility: hidden;
    z-index: 11;
}
.bottom-nav .droplist li{
    width: 150px;
margin-left: 0px !important;
margin: 5px 0px;
}
.bottom-nav .right{
    display: flex;
    margin-right: 30px;
}
.bottom-nav .right .col{
    color: #fff !important;
    border-color: #fff !important;
}
.bottom-nav .right i{
    color: var(--main-color);
}
.dropdown .ucon{
    margin: 3px 5px;
}
.bottom-nav .dropdown:hover .droplist{
    visibility: visible;
}

.bottom-nav .left .part2{
    padding: 10px;
}
/* ///////////////////////// */

@media (max-width:920px) {
    .right, .bars{
    display: flex !important;
}
.top-nav .left{
    display: none;
}
.top-nav{
    justify-content: center;
}
.center-nav{
    display: none;
}
.bottom-nav .left .part1{
display: none;
}
.bottom-nav .left .part2{
    display: block;
}
.bottom-nav .center{
    display: none;
}
.bottom-nav{
    justify-content: space-between;
}
.bottom-nav .right{
    display: none !important;
}
}
.bars{
    width: 35px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    border: 1px solid #6c757d;
    margin-right: 30px;
    display: none;
}
.bars span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    transition: .3s;
    
}
.pro{
    width: 60% !important;
}
.bars:hover .pro{
    width: 100% !important;
    
}
.list{
    position: absolute;
    top: 65px;
    right:0px;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px 20px;
    transition: .3s;
    visibility: hidden;
    z-index: 11;
}
.bars:hover .list{
    visibility: visible;
}
.list li{
    list-style: none;
    margin-top: 5px;
    transition: .3s;
}
.list li:hover{
    color: var(--main-color);
    margin-left: 10px;
}
/* //////////////////////////////////// */
.main-body{
    background-color: #eee;
}
.container{
   width: 90%;
   display: flex;
   margin:70px auto;
   flex-wrap: wrap;
    justify-content: space-between;

}
.leftimg{
    background-image: url(./imgs/big.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 65%;
    height: 400px;
    position: relative;
    filter: opacity(.9);

}
.cover{
    overflow: hidden;
    position: relative;
}
.write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00000075;
    height: 100% ;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.write h1{
    font-size: 35px;
    color: #fff;
    margin-bottom: 10px;
    cursor:default;

}
.write p{
    width: 60%;
    color: #fff;
    cursor:default;
}
.rightimg .write span{
    padding: 10px 15px;
    font-size: 18px;
    transition: .3s;
    color: var(--secondary-color);
    margin: 20px;
    background-color: var(--main-color);
}
.leftimg .write span{
    border: #fff solid 1px;
    padding: 10px 15px;
    font-size: 18px;
    transition: .3s;
    color: #fff;
    margin: 20px;
}
.leftimg .write span:hover{
    background-color: #fff;
    cursor: pointer;
    color: #000;
}
.rightimg .write span:hover{
    background-color: #ffc800;
    cursor: pointer;
    color: #000;
}
.rightimg{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.one{
    background-image: url(./imgs/top.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:190px ;
    transition: .3s;
    filter: opacity(.9);
}
.cover:hover .one{
    transition: .3s;
    transform: rotate(3deg) scale(1.1);
}
.cover:hover .two{
    transition: .3s;
    transform: rotate(3deg) scale(1.1);
}
.two{
    background-image: url(./imgs/bot.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    transition: .3s;
    filter: opacity(.9);

}
/* ///////////////////////////// */
.services{
    display: flex;
    justify-content: space-between;
}
.services div{
background-color: #fff;
padding: 30px 25px;
display: flex;
justify-content: space-between;
width: 21%;
align-items: center;
font-size: 20px;
flex-wrap: wrap;
}
.services i{
    font-size: 30px;
    color: var(--main-color);
}
@media (max-width:991px){
.services div{
    width: 40%;
    margin-bottom: 20px;
}
}
@media (max-width:920px){
.leftimg, .rightimg{
    width: 100%;
    margin-bottom: 20px;
}
.services{
    font-size: 16px;
}

.services i{
    font-size: 40px;
}
}
/* //////////////////////////// */
.categories{
    padding-top: 20px;
    border-top: dashed 1px #6c757d ;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.categories::before{
    content: "Categories";
position: absolute;
background-color: #eee;
text-transform: uppercase;
font-weight: bold;
color: #3f464e;
top: -25px;
padding-right: 20px;
font-size: 30px;
}
.PRODUCTS::before{
    content: "RECENT PRODUCTS";
position: absolute;
background-color: #eee;
text-transform: uppercase;
font-weight: bold;
color: #3f464e;
top: -25px;
padding-right: 20px;
font-size: 30px;
}
.categories .cat{
margin-top: 50px;
width: 24%;
display: flex;
justify-content: space-between;
height: 110px;
background-color: #fff;
transition: .3s;
}
.categories .cat .name{
    padding: 10px;
    color: #3f464e;

}
.categories .cat .name h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.categories .cat .img{
    width: 100px;

}
.categories .img{
    overflow: hidden;
    background-color: #fff;
}
.categories img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: .5s;

}
.categories .cat:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.categories .cat:hover img{
    transform: scale(1.1) rotate(10deg);
}

/* /////////////////////// */

.card{
    margin-top: 50px;
    width: 24%;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}
.float{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    opacity: 0;
    transition: .5s;
    z-index: 11;
}
.float i{
    color:var(--secondary-color)  ;
    border: #3f464e 1px solid; 
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    transition: .3s;
}
.card p>i{
    color: var(--main-color);
}
.card p{
    margin: 10px 0px;
}
.card h4{
    color: #3f464e;
    font-weight: 100px;
}
.card span{
    text-decoration: line-through;
    color: #6c757d;
}
.card .img{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.card:hover img{
    transform: scale(1.2);
    filter: opacity(.3);
}
.card:hover .float{
    top: 50%;
    opacity: 1;
}
.float i:hover{
    color: var(--main-color);
    border-color:var(--main-color) ;
    cursor: pointer;
    background-color: #3f464e;
}
.bigimages{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    height: fit-content;
}
.bigimages .one, .bigimages .two{
    height: 300px;
    opacity: .8;
}
.bigimages .cover{
    width: 45%;
    margin-top: 20px;
}
.bigimages img{
    height: 100%;
}
/* /////////////////////////// */
.vendors div{
    width: 15%;
    height: fit-content;
}
.vendors img{
    width: 100%;
}
/* /////////////////////////// */
footer{
    background-color: #3d464d;
    color: #F5F5F5;
    padding: 20px 0px;
    padding-top: 50px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #6c757d;
    margin: 70px 0px 30px;
}
footer .footcont{
    width: 90%;
    margin: auto;
}
footer .firstPart , footer .scoundPart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
}
footer .firstPart> div{
    width: 25%;
    margin-bottom: 20px;
}
footer h2{
    margin-bottom: 20px;
}
.para{
    margin-bottom: 20px;
}
footer p i{
    margin-right: 10px;
    color: var(--main-color);
}
footer p{
    margin-top: 10px;
}
footer ul li{
    list-style: none;
    margin-top: 10px;
    font-weight: bold;
}
footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer input{
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #3d464d;
}
footer input:focus{
    width: inherit;
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #3d464d;
}
footer .sign{
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 5px;
    font-size: 16px;
}
footer .sign:hover{
cursor: pointer;
background-color: #ffc800;
}
footer .follow{
    display: flex;
    justify-content: flex-start;
}
footer .follow i{
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
    transition: .3s;
}
footer .follow i:hover{
background-color: #ffc800;
cursor: pointer;
}
footer .scoundPart > div{
margin: 20px 0px;
}
footer .scoundPart span{
    color: var(--main-color);
}
@media (max-width:1116px) {
    footer .sign{
        width: fit-content;
       display: block;
       margin-bottom: 20px;
    }
    
}
@media (max-width:990px) {
    .categories .cat, .card{
        width:30%;
    }
    .vendors div{
        width: 18%;
    }
    .firstPart > div{
        margin-top: 40px;
        width: 45% !important;
    }
    footer .scoundPart > div{
        text-align: center;
        margin: 20px auto;
    }
}
@media (max-width:767px) {
    .categories .cat, .card{
        width:48% ;
    }
    .services div{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .vendors div{
        width: 30%;
    }
    .bigimages .cover{
        width: 100%;
    }
}
@media (max-width:575px) {
    .categories .cat, .card, .firstPart > div{
        width:100% !important;
    }
    .vendors div{
        margin: 20px auto;

        width: 54%;
    }
    .sign{
        display: inline !important;
    }
}